:root {
  font-family:
    "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #222;
  background: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9e9e9;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
